.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 40px;
  width: 40px;
  margin-right: 8px;
}
.waveheading {
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 600;
}
.logodesign {
  display: flex;
  align-items: center;
}
.unorderlistelements {
  list-style-type: none;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-items {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .logo {
    height: 35px;
    width: 35px;
    margin-right: 4px;
  }
  .waveheading {
    font-size: 23px;
    font-family: 'Roboto';
    font-weight: 600;
  }
  .list-items {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    text-decoration: none;
  }
}
